In [1]:
import pandas as pd
import warnings
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import os

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('merged_data_raw_fe.csv')

In [3]:
data.head()

,Unnamed: 0,mssv,mamh,malop,sotc,hocky,namhoc,diem_qt,diem_th,diem_gk,...,sotchk18,sotchk19,sotchk20,sotchk21,sotchk22,namhoc_monhoc,hocky_monhoc,gap_hocky,hocky_monhoc_count,namhoc_monhoc_count
0,329800,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,ENG01,ENG01.2019.1.M,4.0,1.0,2019.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0,1,1
1,329801,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,ENG02,ENG02.2019.1.M,4.0,1.0,2019.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0,1,1
2,329802,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,MA003,MA003.K18,3.0,1.0,2019.0,10.0,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0,1,1
3,329803,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,MA006,MA006.K18,4.0,1.0,2019.0,10.0,NaN,9.5,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0,1,1
4,329804,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,IT001,IT001.K18,4.0,1.0,2019.0,6.0,6.0,8.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0,1,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354794 entries, 0 to 354793
Data columns (total 71 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           354794 non-null  int64
 1   mssv                 354794 non-null  object
 2   mamh                 354792 non-null  object
 3   malop                354792 non-null  object
 4   sotc                 354792 non-null  float64
 5   hocky                354792 non-null  float64
 6   namhoc               354792 non-null  float64
 7   diem_qt              218760 non-null  float64
 8   diem_th              152239 non-null  float64
 9   diem_gk              195942 non-null  float64
 10  diem_ck              340120 non-null  float64
 11  diem_hp              354421 non-null  float64
 12  trangthai            354792 non-null  float64
 13  tinhtrang            354792 non-null  float64
 14  mamh_tt              707 non-null     object
 15  namsinh              354794 non-null  float64
 16  gioitinh             354794 non-null  float64
 17  noisinh              354794 non-null  object
 18  lopsh                354794 non-null  object
 19  khoa                 354794 non-null  object
 20  hedt                 354794 non-null  object
 21  khoahoc              354794 non-null  float64
 22  dtbhk1               354794 non-null  float64
 23  dtbhk2               353698 non-null  float64
 24  dtbhk3               350719 non-null  float64
 25  dtbhk4               347832 non-null  float64
 26  dtbhk5               344231 non-null  float64
 27  dtbhk6               340257 non-null  float64
 28  dtbhk7               333824 non-null  float64
 29  dtbhk8               270173 non-null  float64
 30  dtbhk9               195464 non-null  float64
 31  dtbhk10              118928 non-null  float64
 32  dtbhk11              72677 non-null   float64
 33  dtbhk12              46231 non-null   float64
 34  dtbhk13              31395 non-null   float64
 35  dtbhk14              19515 non-null   float64
 36  dtbhk15              12165 non-null   float64
 37  dtbhk16              7652 non-null    float64
 38  dtbhk17              5230 non-null    float64
 39  dtbhk18              2917 non-null    float64
 40  dtbhk19              1987 non-null    float64
 41  dtbhk20              1215 non-null    float64
 42  dtbhk21              638 non-null     float64
 43  dtbhk22              190 non-null     float64
 44  sotchk1              354794 non-null  float64
 45  sotchk2              353698 non-null  float64
 46  sotchk3              350719 non-null  float64
 47  sotchk4              347832 non-null  float64
 48  sotchk5              344231 non-null  float64
 49  sotchk6              340257 non-null  float64
 50  sotchk7              333824 non-null  float64
 51  sotchk8              270173 non-null  float64
 52  sotchk9              195464 non-null  float64
 53  sotchk10             118928 non-null  float64
 54  sotchk11             72677 non-null   float64
 55  sotchk12             46231 non-null   float64
 56  sotchk13             31395 non-null   float64
 57  sotchk14             19515 non-null   float64
 58  sotchk15             12165 non-null   float64
 59  sotchk16             7652 non-null    float64
 60  sotchk17             5230 non-null    float64
 61  sotchk18             2917 non-null    float64
 62  sotchk19             1987 non-null    float64
 63  sotchk20             1215 non-null    float64
 64  sotchk21             638 non-null     float64
 65  sotchk22             190 non-null     float64
 66  namhoc_monhoc        354792 non-null  float64
 67  hocky_monhoc         354792 non-null  float64
 68  gap_hocky            354794 non-null  int64
 69  hocky_monhoc_count   354794 non-null  int64
 70  namhoc_monhoc_count  354794 non-null  int64
dtypes: float64(59), int64(4), object(8)
memory usage: 192.2+ MB

In [5]:
# Fill Null Methods:

# Numerical Columns:

# Method: Fill missing values with the mean or median of the column.
# Reasoning:
# Mean: Suitable if the data is normally distributed without outliers.
# Median: Better if the data is skewed or contains outliers.
# Decision: Use median to minimize the impact of outliers on imputation.


# Categorical Columns:

# Method: Fill missing values with the mode (most frequent value).
# Reasoning: The mode represents the most common category, which is a reasonable estimate for missing values.

# Create lists of numerical and categorical columns
numerical = data.select_dtypes(include=['int64', 'float64']).columns
categorical = data.select_dtypes(include=['object']).columns

# Fill numeric nulls with median
data[numerical] = data[numerical].fillna(data[numerical].median())

# Fill categorical nulls with mode
for col in categorical:
    data[col] = data[col].fillna(data[col].mode()[0])

In [6]:
data.head()

,Unnamed: 0,mssv,mamh,malop,sotc,hocky,namhoc,diem_qt,diem_th,diem_gk,...,sotchk18,sotchk19,sotchk20,sotchk21,sotchk22,namhoc_monhoc,hocky_monhoc,gap_hocky,hocky_monhoc_count,namhoc_monhoc_count
0,329800,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,ENG01,ENG01.2019.1.M,4.0,1.0,2019.0,8.0,8.0,7.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
1,329801,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,ENG02,ENG02.2019.1.M,4.0,1.0,2019.0,8.0,8.0,7.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
2,329802,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,MA003,MA003.K18,3.0,1.0,2019.0,10.0,8.0,10.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
3,329803,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,MA006,MA006.K18,4.0,1.0,2019.0,10.0,8.0,9.5,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
4,329804,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,IT001,IT001.K18,4.0,1.0,2019.0,6.0,6.0,8.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1

In [7]:
categorical_df = data.select_dtypes(include=['object'])

In [8]:
#values count of categorical columns
#print full value counts
for col in categorical_df.columns:
    print(data[col].value_counts())

mssv
84F1726EXPvAibaEXe/FejQN8/S5fHF/hPdc4T81    104
0A275EF0XPvAibaEXe9j81k8MH0oJ07F7M1SwTm7    101
9A84BBE7XPvAibaEXe8ydgsBCmjqA6hvcbpa5SDa    100
F832105BXPvAibaEXe+cD1fKElqxL8dha7yinstM     96
12366023XPvAibaEXe+PhKfQb0+XJ9/8933Iy6CC     96
                                           ...
740B481FXPvAibaEXe917PYvJ9Jl7a6h35+/2mQT      1
B6537A39XPvAibaEXe/1obfbwrsd567T34d/pgJD      1
87EEA32BXPvAibaEXe+ltCXpm838vQ3A17qI1XOG      1
0238C60FXPvAibaEXe/H1VZJBzJAwvbgak7AXdRX      1
8641CD9BXPvAibaEXe9LZwdMb86KAzf186r0q1ut      1
Name: count, Length: 8213, dtype: int64
mamh
IT002    10409
IT003     9450
MA003     9121
IT001     9076
IT004     8528
         ...
NT305        1
CE114        1
ITEM1        1
CE404        1
NT307        1
Name: count, Length: 421, dtype: int64
malop
ENG01.2019.1.M    558
ENG01.2018.1.M    547
ENG02.2019.1.M    426
ENG02.2018.1.M    376
ENG03.2022.1.M    335
                 ...
SS004.M22.CLC       1
SS004.N11.CLC       1
MA003.L13           1
IT012.M23.KHCL      1
NT115.H11.ANTN      1
Name: count, Length: 8354, dtype: int64
mamh_tt
MA002     354287
EN005         94
EN004         67
EN006         44
PE002         41
MA001         39
SS002         36
CE101         25
IT009         25
EN003         20
PE001         19
SE112         12
CE104         11
EN002          9
NT115          8
SE111          7
IT006          5
NT130          5
CE107          4
EC202          4
CE221          4
CS3363         3
PH003          3
IE209          3
NT103          2
CS4793         2
CS110          2
SE108          2
EC212          2
IT012          2
ENG03          1
IS253          1
NT201          1
CS3373         1
IS212          1
EC203          1
SE107          1
Name: count, dtype: int64
noisinh
hồ chí minh                          68715
đồng nai                             22812
đắk lắk                              21588
bình định                            18863
lâm đồng                             14842
                                     ...
cộng hoà séc                            21
nghĩa sơn - nghĩa hưng - nam định       20
vũng tàu                                20
nha trang                               14
đà lạt                                   7
Name: count, Length: 75, dtype: int64
lopsh
KTPM0001      28762
MMTT0001      25161
HTTT0001      24808
KTMT0001      18183
KHMT0001      14448
              ...
KHMT2016        195
CTTT2016        189
HTCL2014        170
KHCl2019.3       42
PMCL2014         29
Name: count, Length: 156, dtype: int64
khoa
MMT&TT    76898
HTTT      74101
CNPM      67133
KHMT      50876
KTMT      43997
KTTT      41789
Name: count, dtype: int64
hedt
CQUI    222414
CLC     106523
CTTT     11976
KSTN      7037
CNTN      6844
Name: count, dtype: int64

In [9]:
#values count of tinhtrang columns
print(data['tinhtrang'].value_counts())

tinhtrang
 0.0    312656
 2.0     28226
 1.0     12943
-1.0       504
 3.0       465
Name: count, dtype: int64

In [10]:
#drop tinhtrang column values -1
data = data[data['tinhtrang'] != -1]

In [11]:
# Encode Methods:

# Categorical Variables with Few Categories:

# Method: Label Encoding.
# Reasoning: Efficient for ordinal categories or when there are few unique values. Introduces minimal complexity.
# After checked values count of categorical columns, we can see that there are some columns with few categories, so we can use Label Encoding for these columns.
# Categorical Variables with Many Categories:

from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Apply Label Encoding to each categorical column
for col in categorical:
    data[col] = le.fit_transform(data[col])

In [12]:
data.head()

,Unnamed: 0,mssv,mamh,malop,sotc,hocky,namhoc,diem_qt,diem_th,diem_gk,...,sotchk18,sotchk19,sotchk20,sotchk21,sotchk22,namhoc_monhoc,hocky_monhoc,gap_hocky,hocky_monhoc_count,namhoc_monhoc_count
0,329800,0,184,1821,4.0,1.0,2019.0,8.0,8.0,7.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
1,329801,0,185,1906,4.0,1.0,2019.0,8.0,8.0,7.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
2,329802,0,271,5126,3.0,1.0,2019.0,10.0,8.0,10.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
3,329803,0,274,5654,4.0,1.0,2019.0,10.0,8.0,9.5,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1
4,329804,0,249,3259,4.0,1.0,2019.0,6.0,6.0,8.0,...,8.0,7.0,10.0,4.0,5.0,1.0,1.0,0,1,1

In [13]:
#remove namhoc from numerical columns
numerical = numerical.drop('namhoc')
numerical = numerical.drop('diem_hp')
print(numerical)

Index(['Unnamed: 0', 'sotc', 'hocky', 'diem_qt', 'diem_th', 'diem_gk',
       'diem_ck', 'trangthai', 'tinhtrang', 'namsinh', 'gioitinh', 'khoahoc',
       'dtbhk1', 'dtbhk2', 'dtbhk3', 'dtbhk4', 'dtbhk5', 'dtbhk6', 'dtbhk7',
       'dtbhk8', 'dtbhk9', 'dtbhk10', 'dtbhk11', 'dtbhk12', 'dtbhk13',
       'dtbhk14', 'dtbhk15', 'dtbhk16', 'dtbhk17', 'dtbhk18', 'dtbhk19',
       'dtbhk20', 'dtbhk21', 'dtbhk22', 'sotchk1', 'sotchk2', 'sotchk3',
       'sotchk4', 'sotchk5', 'sotchk6', 'sotchk7', 'sotchk8', 'sotchk9',
       'sotchk10', 'sotchk11', 'sotchk12', 'sotchk13', 'sotchk14', 'sotchk15',
       'sotchk16', 'sotchk17', 'sotchk18', 'sotchk19', 'sotchk20', 'sotchk21',
       'sotchk22', 'namhoc_monhoc', 'hocky_monhoc', 'gap_hocky',
       'hocky_monhoc_count', 'namhoc_monhoc_count'],
      dtype='object')

In [14]:
# Copy data for Dataset 1
dataset1 = data.copy()

# Save Dataset 1
dataset1.to_csv('dataset1.csv', index=False)

In [15]:
from sklearn.preprocessing import MinMaxScaler

# Copy data for Dataset 2
dataset2 = data.copy()

# Normalize numeric variables
scaler = MinMaxScaler()
dataset2[numerical] = scaler.fit_transform(dataset2[numerical])

# Save Dataset 2
dataset2.to_csv('dataset2.csv', index=False)

In [16]:
from sklearn.preprocessing import StandardScaler

# Copy data for Dataset 3
dataset3 = data.copy()

# Standardize numeric variables
scaler = StandardScaler()
dataset3[numerical] = scaler.fit_transform(dataset3[numerical])

# Save Dataset 3
dataset3.to_csv('dataset3.csv', index=False)

In [17]:
# Copy data for Dataset 4
dataset4 = data.copy()

# Outlier processing using IQR
for col in numerical:
    Q1 = dataset4[col].quantile(0.25)
    Q3 = dataset4[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    # Remove outliers
    dataset4 = dataset4[(dataset4[col] >= lower_bound) & (dataset4[col] <= upper_bound)]

# Save Dataset 4
dataset4.to_csv('dataset4.csv', index=False)

In [18]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Copy data for Dataset 5
dataset5 = data.copy()

# Outlier processing using IQR
for col in numerical:
    Q1 = dataset5[col].quantile(0.25)
    Q3 = dataset5[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    dataset5 = dataset5[(dataset5[col] >= lower_bound) & (dataset5[col] <= upper_bound)]

# Recompute numerical columns after outlier removal
numerical_dataset5 = dataset5.select_dtypes(include=['int64', 'float64']).columns
#drop namhoc column
numerical_dataset5 = numerical_dataset5.drop('namhoc')
numerical_dataset5 = numerical_dataset5.drop('diem_hp')

# Normalize numeric variables
scaler_minmax = MinMaxScaler()
dataset5[numerical_dataset5] = scaler_minmax.fit_transform(dataset5[numerical_dataset5])

# Standardize numeric variables
scaler_standard = StandardScaler()
dataset5[numerical_dataset5] = scaler_standard.fit_transform(dataset5[numerical_dataset5])

# Save Dataset 5
dataset5.to_csv('dataset5.csv', index=False)

In [19]:
for i in range(1, 6):
    print(f'Dataset {i} shape: {eval(f"dataset{i}").shape}')

Dataset 1 shape: (354290, 71)
Dataset 2 shape: (354290, 71)
Dataset 3 shape: (354290, 71)
Dataset 4 shape: (36751, 71)
Dataset 5 shape: (36751, 71)

## SPLIT DATA

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

def split_data_by_group(data, group_col, train_ratio=0.7, val_ratio=0.2, test_ratio=0.1):
    
    assert abs(train_ratio + val_ratio + test_ratio - 1.0) < 1e-5, "Ratios must sum to 1."
    
    train_set = pd.DataFrame()
    val_set = pd.DataFrame()
    test_set = pd.DataFrame()
    
    # Group by the specified column
    grouped = data.groupby(group_col)
    
    for group, group_data in grouped:
        # Split into train and temp (val + test)
        train, temp = train_test_split(group_data, test_size=1-train_ratio, random_state=42, shuffle=True)
        # Split temp into val and test
        val_size = val_ratio / (val_ratio + test_ratio)
        val, test = train_test_split(temp, test_size=1-val_size, random_state=42, shuffle=True)
        
        # Append to the respective sets
        train_set = pd.concat([train_set, train])
        val_set = pd.concat([val_set, val])
        test_set = pd.concat([test_set, test])
    
    return train_set, val_set, test_set

In [ ]:
data = pd.read_csv('merged_data_raw_fe.csv')
train_set, val_set, test_set = split_data_by_group(data, group_col='hocky_monhoc_count', train_ratio=0.9, val_ratio=0.05, test_ratio=0.05)

print("Training set shape:", train_set.shape)
print("Validation set shape:", val_set.shape)
print("Test set shape:", test_set.shape)

train_set.to_csv('train_set.csv', index=False)
val_set.to_csv('val_set.csv', index=False)
test_set.to_csv('test_set.csv', index=False)

ValueError: With n_samples=1, test_size=0.5 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.